<header class="bg-white shadow-2xl py-4 px-6 flex justify-between items-center">

  <div class="text-4xl font-bold text-indigo-600 ms-10">
    CoworkingApp
  </div>


  <nav class="space-x-6 hidden md:flex">
    <a href="/workspaces" class="text-gray-700 text-2xl hover:text-blue-600 hover:underline underline-offset-6 decoration-4 font-bold mx-10">Workspaces</a>
    <a href="/bookings" class="text-gray-700 text-2xl hover:text-blue-600 hover:underline underline-offset-6 decoration-4 font-bold mx-10">My Bookings</a>
  </nav>
</header>
